    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    :root {
    --color-brand-primary: #1d99ff;
    --color-brand-secondary: #ff455b;

    --color-feedback-error: #f1526e;
    --color-feedback-info: #3da4f3;
    --color-feedback-success: #00c689;
    --color-feedback-warning: #fdbf35;

    --color-text-dark: #708aa1;
    --color-text-light: #aebdc9;

    --color-interface-light: #f1f4f6;
    --color-interface-dark: #d5e0ec;

    --color-common-light: #ffffff;
    --color-common-dark: #000000;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;
    }

    body {
        font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
        font-size: var(--spacing-default);
        background-color: var(--color-common-light);
    }

    h1 
    {
        font-weight: normal;
    }

    header {
        padding-top: var(--spacing-default);
        padding-bottom: var(--spacing-small);
        display: flex;
        background-color: var(--color-interface-light);
    }

    .menu-img {
        justify-content: space-between;
        margin-left: var(--spacing-medium);
        padding-top: 30px 
    }

    header > img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: var(--spacing-default);
    }

    /* header > div.container {
    display: flex;
    justify-content: space-between;
    } */

    .button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .title {
        line-height: 1.5;
        letter-spacing: -1px;
        font-weight: 300;
        color: var(--color-text-light);
        font-size: 40px;
    }

    .subtitle {
        line-height: 1.2;
        font-weight: 700;
        color: var(--color-brand-primary);
        font-size: 20px;
    }

    .container {
       display: flex;
    }

    .avatar {
        width: var(--spacing-large);
        height: var(--spacing-large);
        border-radius: 50%;
    }

    .minhas-tarefas{
        padding-bottom: var(--spacing-large);
        padding-left: var(--spacing-large);
        background-color: var(--color-interface-light);
    }

    .form-task {
        padding-top: var(--spacing-medium);
    }

    .form-task-label {
        font-size: 25px;
        color: var(--color-text-dark);
        display: block;
    }

    .form-task-input {
        font-size: 28px;
    }

    .form-task-button > .material-symbols-outlined{
        margin-bottom: 5px;
        font-size: 28px;
    }

    .form-task-button {
        border-radius: var(--spacing-xsmall);
        padding: 3px 10px 3px 10px;
        background-color: var(--color-brand-secondary);
        color: var(--color-common-light);
    }

    .input{
        width: 30px;
        height: 30px;
        border-radius: 70px;
    }

    .section-checkbox{
        background-color: var(--color-common-light);
        border-radius: 0 var(--spacing-xlarge) 0 0;
        padding-top: var(--spacing-default);
        padding-bottom: 100%;
        display: block;
        padding-left: var(--spacing-default);
        padding-right: var(--spacing-default);
    }

    .checkbox-primaria{
        margin-top: var(--spacing-medium);
        display: flex;
        padding-left:var(--spacing-default);
        padding-right: var(--spacing-small);
    }

    .checkbox-primaria > p{
        font-size: 23px;
        padding: 0 0 0 7px;
    }

    .checkbox-secundaria{
        margin-top: var(--spacing-small);
        display: flex;
        padding-left:var(--spacing-default);
        padding-right: var(--spacing-small);
    }

    .checkbox-secundaria > p{
        font-size: 23px;
        padding: 0 0 0 5px;
    }

    .button-edit{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        margin-left: auto;
    }

    .button-delete{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding-left: var(--spacing-xsmall);
    }

    .material-symbols-outlined{
        font-size: 40px;
        margin-left: var(--spacing-small);
        margin-right: var(--spacing-small);
    }

    
    
    