/*
    Media para pagina 2560px / 1470px
*/
@media (min-width:2560px){
    .minhas-tarefas{
        padding-left: var(--spacing-xlarge);
    }
    
    .menu-img {
        padding-top: 55px;
    }

    header > img{
        width: 180px;
        height: 180px;
        border-radius: 100%;
    }

    h1 {
        font-size: 65px;
    }

    .subtitle {
        font-size: var(--spacing-large);
    }

    .form-task-label {
        font-size: var(--spacing-large);
    }

    .form-task-input {
        padding: 50px 400px 0 0;
    }

    .form-task-button {
        padding: 0;
    }

    .form-task-button > .material-symbols-outlined{
        padding-right: 20px;
        font-size: 66px;
    }

    .input{
        width: 70px;
        height: 70px;
        border-radius: 70px;
    }
    
    .section-checkbox{
        margin-left: var(--spacing-default);
    }

    .checkbox-primaria > p{
        font-size: 45px;
        padding: 0 0 0 7px;
    }

    .checkbox-secundaria > p{
        font-size: 45px;
        padding: 0 0 0 7px;
    }

    .material-symbols-outlined{
        font-size: 70px;
        padding-left: var(--spacing-medium);
    }
}




