    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    :root {
    --color-brand-primary: #1d99ff;
    --color-brand-secondary: #ff455b;

    --color-feedback-error: #f1526e;
    --color-feedback-info: #3da4f3;
    --color-feedback-success: #00c689;
    --color-feedback-warning: #fdbf35;

    --color-text-dark: #708aa1;
    --color-text-light: #aebdc9;

    --color-interface-light: #f1f4f6;
    --color-interface-dark: #d5e0ec;

    --color-common-light: #ffffff;
    --color-common-dark: #000000;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;

    }

    body {
    font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: var(--color-interface-light);
    }

    h1, 
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-weight: normal;
    }

    header {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
    display: flex;
    }

    .header-item {
    display: flex;
    justify-content: space-between;
    }
    /* header > div.container {
    display: flex;
    justify-content: space-between;
    } */

    .button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    }

    .title {
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 300;
    color: var(--color-text-light);
    }

    .subtitle {
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-brand-primary);
    font-size: 13px;
    }

    .container {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    }

    .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    }

    .form-task {
    margin-top: var(--spacing-medium);
    }

    .form-task-label {
    font-size: 13px;
    color: var(--color-text-dark);
    display: block;
    }

    .form-task-input {
    padding: 12px 15px 0 0;
    }

    .form-task-button {
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    background-color: var(--color-brand-secondary);
    color: var(--color-common-light);
    }

    .checkbox-primaria{
        margin: 50px 5px 6px 5px;
        display: flex;
        padding: 2px 5px 0 5px;
    }

    .checkbox-primaria > p{
        font-size: 12px;
        padding: 5px 0 0 5px;
        font-weight: bold;
    }

    .button-edit{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        margin-left: auto;
    }
    .button-delete{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding-left: var(--spacing-xsmall);
    }